# Object detection
numpy>=1.18.5
cvzone==1.5.6
ultralytics==8.0.184
hydra-core>=1.2.0
matplotlib
opencv-python==4.6.0.66
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
filterpy==1.4.5
scikit-image==0.19.3
lap==0.4.0  
deep-sort-realtime
protobuf==3.20.2
cython==0.29.23
typeguard==2.9.1
plyfile==0.7.2
imgaug==0.4.0
progressbar2==3.53.1
h5py
pafy
yt-dlp==2023.2.17
youtube_dl
pytesseract
tesseract
easyocr
dill
imutils

# --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
# torch==1.10.0+cu118 
# --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
# torchvision==0.11.1+cu118 
# --find-links https://download.pytorch.org/whl/cu118/torch_stable.html
# torchaudio===0.10.0+cu118 

## for labelImg
pyqt5
lxml

## for custom package YOLOT
pytube

## Text Zoom
pyodbc
paddlepaddle-gpu
paddlepaddle
common # for paddle package
dual
tight
data
prox

rapidfuzz
visualdl


-e .